button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #396492; 
    color: #ffffff; 
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;  
  }
  
  button:hover {
    background-color: #051e38;  
  }
  
  button:focus {
    outline: none;  
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;  
  }
  
  .action-buttons button {
    margin-right: 40px;  
    margin-top: 15px;
  }