
body {
    padding: 0;
    margin: 0px auto;
    background-color: #611313;
  }
section {
    padding: 20px;  
    background-color: #611313;
    color: rgb(194, 219, 48);
    
  }
  
  form {
    max-width: 600px;  
    margin: 0 auto;  
  }
  textarea {
    resize: none;  
  }
  h1 {
    font-size: 24px;  
  }
  
  h3 {
    margin-top: 20px; 
  }
  
  input[type="text"],
  input[type="range"],
  textarea {
    width: 100%;  
    padding: 10px;  
    margin-top: 5px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    box-sizing: border-box;  
  }
  
  textarea {
    height: 100px;  
  }
  
  .add-photo-button {
    margin-top: 10px;  
  }
  
  .add-newcar-button {
    margin-top: 20px; 
    padding: 10px 20px;  
    background-color: #396492; 
    color: #fff;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
  }
  
  .add-newcar-button:hover {
    background-color: #051e38;  
  }
  
  .add-newcar-button:focus {
    outline: none; 
  }
 
  .add-photo-section button{
    margin-left: 12px;
  }
  .slider{
    max-width: 750px;
    width: 100%;
    aspect-ratio: 10/7 ;
    margin: 0 auto ;
  }
  