body {
  padding: 0;
  margin: 0px auto;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  background-color: #611313;
  padding-bottom: 50px;
}

.title {
  font-size: 36px;
  color: rgb(194, 219, 48);
  margin-top: 1px;
}

.all-cars {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.one-car {
  width: calc(28% - 1px);
  padding: 20px;
  border: 1px solid #532828;
  border-radius: 8px;
  background-color: #cabdbd;
  box-shadow: 0 0 20px black;
  transition: all 0.2s linear;
}
.one-car:hover {
  transform: scale(1.04);
}

.one-car img {
  max-width: 100%;
  height: 250px;
  border-radius: 8px;
}

.car-info {
  font-size: 18px;
  color: #000000;
}
.car-info p {
  word-wrap: break-word;
}

.car-price {
  font-size: 20px;
  color: #110602;
}

.car-actions {
  display: flex;
  gap: 5px;
  margin: 5px;
  padding: 5px;
}
 
.car-actions button {

  font-size:  16px;
  flex: 1;  
  height: 40px; 
  display: flex;
  align-items: center; 
  justify-content: center;  
}

@media (max-width: 768px) {
  .one-car {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .one-car {
    width: 100%;
  }
}
