.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}
.img-slider-btn {
  all: unset;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0.8rem;
  transition: background-color 150ms ease-in-out;
}
.img-slider-btn >*{
    stroke:#611313;
    fill:black;
    width: 2rem;
    height: 2rem;
}
.img-slider-btn:hover {
 background-color: rgb(0,0,0,0.3);

}
